[package]
name = "quic"
version = "0.1.0"
edition = "2024"
build   = "build.rs"


[dependencies]
tokio   = { version = "1.38", features = ["full"] }
quinn   = "0.11"
rcgen   = "0.12"
rustls  = { version = "0.23", features = ["ring"] }
prost   = "0.12"          # â† protobuf runtime
bytes   = "1.6"
anyhow  = "1.0"
serde   = { version = "1", features = ["derive"] } # just for the in-RAM HashMap
futures = "0.3.31"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
axum = "0.7"
tower = "0.4"
tower-http = { version = "0.5", features = ["cors"] }
serde_json = "1.0"

[build-dependencies]
prost-build = "0.12"
