global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['rpc-dev.silvana.dev:9090']

  - job_name: 'silvana-rpc'
    scrape_interval: 10s
    metrics_path: '/metrics'
    static_configs:
      - targets: ['host.docker.internal:9090']  # Your RPC service metrics endpoint
    scrape_timeout: 5s 